<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Corona virus cases tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <h1>Corona virus cases tracker</h1>
    <p>Listing the current number of cases reported across the globe</p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total cases reported as of today</p>
        <hr class="my-4">
        <p>
            <span>Total new cases reported since previous day</span>
            <span th:text="${totalReportedCases}">0</span>
        </p>

    </div>


    <table class="table">
        <tr>
            <td>Country</td>
            <td>State</td>
            <td>Latest total cases</td>
            <td>New cases</td>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPreviousDay}">0</td>
        </tr>
    </table>
</div>

</body>
</html>